# Road Hazard Data

In [3]:
# cd "Stan's Datasets Notebooks"

/home/seek/Documents/GitHub/labs15-rv-life/data-science/Stan's Datasets Notebooks

In [4]:
import pandas as pd
import numpy as np
import camelot
import os
import glob
import json
import re

In [5]:
lc_n_bridges = camelot.read_pdf('https://member.coach-net.com/members/pdfs/lowclearancebridgeinfo.pdf', pages='all')

lc_n_bridges

In [6]:
lc_n_bridges.export("./Raw POI Factory Datasets/Low Clearances and Bridges/lowclearancebridgeinfo.csv", f='csv')

In [7]:
lc_n_bridges[0]

In [8]:
lc_n_bridges[0].df

                                                   0 1 2
0
1               Low Clearance and Bridge Information
2  While it is our desire to provide the most acc...
3

In [9]:
os.remove('./Raw POI Factory Datasets/Low Clearances and Bridges/lowclearancebridgeinfo-page-1-table-1.csv')

In [10]:
os.chdir("./Raw POI Factory Datasets/Low Clearances and Bridges/")

In [11]:
extension = 'csv'
lc_n_bridges = [i for i in glob.glob('*.{}'.format(extension))]

In [12]:
lc_n_bridges_csv = pd.concat([pd.read_csv(f) for f in lc_n_bridges])

In [13]:
lc_n_bridges_csv.to_csv("lowclearanceandbridgeinfo.csv", index=False, encoding='utf-8-sig')

In [14]:
lc_n_bridges = pd.read_csv('lowclearanceandbridgeinfo.csv')

lc_n_bridges.head()

,State,HWY #,Location,Height,Inches,Posted,Height.1
0,KY,Alt. US 60 \n(3rd Street),Louisville - at Eastern Parkway,11.0,8.0,NaN,NaN
1,KY,Alt. US 60 \n(3rd Street),Louisville - 0.2 miles South of Eastern Parkway,11.0,8.0,NaN,NaN
2,CT,CT 136,Westport-0.1 miles South of I-95,10.0,8.0,NaN,NaN
3,CT,CT 137,Stamford - CT 15 Overpass,12.0,3.0,NaN,NaN
4,CT,CT 138,Lisbon - Southwest 1 mile West of CT 12,12.0,2.0,NaN,NaN

In [15]:
filelist = glob.glob('lowclearancebridgeinfo-page-*')
for filename in filelist:
    os.remove(filename)

In [16]:
lc_n_bridges['Longitude'] = np.nan
lc_n_bridges['Latitude'] = np.nan

In [17]:
lc_n_bridges.head()

,State,HWY #,Location,Height,Inches,Posted,Height.1,Longitude,Latitude
0,KY,Alt. US 60 \n(3rd Street),Louisville - at Eastern Parkway,11.0,8.0,NaN,NaN,NaN,NaN
1,KY,Alt. US 60 \n(3rd Street),Louisville - 0.2 miles South of Eastern Parkway,11.0,8.0,NaN,NaN,NaN,NaN
2,CT,CT 136,Westport-0.1 miles South of I-95,10.0,8.0,NaN,NaN,NaN,NaN
3,CT,CT 137,Stamford - CT 15 Overpass,12.0,3.0,NaN,NaN,NaN,NaN
4,CT,CT 138,Lisbon - Southwest 1 mile West of CT 12,12.0,2.0,NaN,NaN,NaN,NaN

In [18]:
lc_n_bridges = lc_n_bridges.rename(columns={'Height': 'Ft', 'Posted': 'Posted Ft', 'Height.1': 'Posted Inches'})

lc_n_bridges.head()

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
0,KY,Alt. US 60 \n(3rd Street),Louisville - at Eastern Parkway,11.0,8.0,NaN,NaN,NaN,NaN
1,KY,Alt. US 60 \n(3rd Street),Louisville - 0.2 miles South of Eastern Parkway,11.0,8.0,NaN,NaN,NaN,NaN
2,CT,CT 136,Westport-0.1 miles South of I-95,10.0,8.0,NaN,NaN,NaN,NaN
3,CT,CT 137,Stamford - CT 15 Overpass,12.0,3.0,NaN,NaN,NaN,NaN
4,CT,CT 138,Lisbon - Southwest 1 mile West of CT 12,12.0,2.0,NaN,NaN,NaN,NaN

In [19]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,NaN,NaN,NaN,NaN
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,NaN,NaN,NaN,NaN
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,NaN,NaN

In [20]:
lc_n_bridges[lc_n_bridges['Location'] == 'Mobile-Bankhead Tunnel']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,NaN,NaN,NaN,NaN

In [21]:
lc_n_bridges.at[380,'Longitude'] = -88.030960

In [22]:
lc_n_bridges[lc_n_bridges['Location'] == 'Mobile-Bankhead Tunnel']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,NaN,NaN,-88.03096,NaN

In [23]:
lc_n_bridges.at[380,'Latitude'] = 30.692998

In [24]:
lc_n_bridges[lc_n_bridges['Location'] == 'Mobile-Bankhead Tunnel']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,NaN,NaN,-88.03096,30.692998

In [25]:
lc_n_bridges.at[380,'Posted Ft'] = 12.0
lc_n_bridges.at[380,'Posted Inches'] = 0.0

lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,NaN,NaN,NaN,NaN
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.03096,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,NaN,NaN

In [26]:
lc_n_bridges.at[381,'Longitude'] = -87.916574
lc_n_bridges.at[381,'Latitude'] = 30.666192

lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,NaN,NaN,NaN,NaN
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192

In [27]:
lc_n_bridges = lc_n_bridges.append({'State': 'AL', 'HWY #': 'US 90', 
                                    'Location': 'Spanish Fort-Battleship Parkway', 
                                    'Ft': 13.0, 'Inches': 6.0, 'Posted Ft': np.nan, 
                                    'Posted Inches': np.nan, 'Longitude': -87.986697, 
                                    'Latitude': 30.678119}, ignore_index=True)

In [28]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,NaN,NaN,NaN,NaN
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119

In [29]:
lc_n_bridges = lc_n_bridges.append({'State': 'AL', 'HWY #': 'Industrial Rd', 
                                    'Location': 'Jackson-Near River Rd', 
                                    'Ft': 11.0, 'Inches': 0.0, 'Posted Ft': np.nan, 
                                    'Posted Inches': np.nan, 'Longitude': -87.904922, 
                                    'Latitude': 31.495218}, ignore_index=True)

In [30]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,NaN,NaN,NaN,NaN
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119
999,AL,Industrial Rd,Jackson-Near River Rd,11.0,0.0,NaN,NaN,-87.904922,31.495218

In [31]:
lc_n_bridges = lc_n_bridges.append({'State': 'AL', 'HWY #': 'County Rd 40', 
                                    'Location': 'Ozark - Jodie Parker Rd', 
                                    'Ft': 8.0, 'Inches': 0.0, 'Posted Ft': np.nan, 
                                    'Posted Inches': np.nan, 'Longitude': -85.659372, 
                                    'Latitude': 31.472883}, ignore_index=True)

In [32]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,NaN,NaN,NaN,NaN
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119
999,AL,Industrial Rd,Jackson-Near River Rd,11.0,0.0,NaN,NaN,-87.904922,31.495218
1000,AL,County Rd 40,Ozark - Jodie Parker Rd,8.0,0.0,NaN,NaN,-85.659372,31.472883

In [33]:
lc_n_bridges.at[372,'Posted Ft'] = 10.0
lc_n_bridges.at[372,'Posted Inches'] = 0.0
lc_n_bridges.at[372,'Longitude'] = -86.627767
lc_n_bridges.at[372,'Latitude'] = 31.829544

In [34]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,AL 1/US 31,Seale,13.0,0.0,NaN,NaN,NaN,NaN
372,AL,AL 10,Greenville,10.0,0.0,10.0,0.0,-86.627767,31.829544
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119
999,AL,Industrial Rd,Jackson-Near River Rd,11.0,0.0,NaN,NaN,-87.904922,31.495218
1000,AL,County Rd 40,Ozark - Jodie Parker Rd,8.0,0.0,NaN,NaN,-85.659372,31.472883

In [35]:
lc_n_bridges.at[371, 'HWY #'] = 'County Rd 30'
lc_n_bridges.at[371, 'Location'] = 'Seale - Carver Rd/30 under Hwy 431'
lc_n_bridges.at[371,'Longitude'] = -85.178744
lc_n_bridges.at[371,'Latitude'] = 32.294212

In [36]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,County Rd 30,Seale - Carver Rd/30 under Hwy 431,13.0,0.0,NaN,NaN,-85.178744,32.294212
372,AL,AL 10,Greenville,10.0,0.0,10.0,0.0,-86.627767,31.829544
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119
999,AL,Industrial Rd,Jackson-Near River Rd,11.0,0.0,NaN,NaN,-87.904922,31.495218
1000,AL,County Rd 40,Ozark - Jodie Parker Rd,8.0,0.0,NaN,NaN,-85.659372,31.472883

In [37]:
lc_n_bridges = lc_n_bridges.append({'State': 'AL', 'HWY #': '2nd Ave', 
                                    'Location': 'Phenix - S. Railroad St/2nd Ave', 
                                    'Ft': 8.0, 'Inches': 0.0, 'Posted Ft': np.nan, 
                                    'Posted Inches': np.nan, 'Longitude': -84.996882, 
                                    'Latitude': 32.477346}, ignore_index=True)

In [38]:
lc_n_bridges = lc_n_bridges.append({'State': 'AL', 'HWY #': '4th Ave', 
                                    'Location': 'Phenix - 1803 4th Ave', 
                                    'Ft': 8.0, 'Inches': 0.0, 'Posted Ft': np.nan, 
                                    'Posted Inches': np.nan, 'Longitude': -84.998566, 
                                    'Latitude': 32.477232}, ignore_index=True)

In [39]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,County Rd 30,Seale - Carver Rd/30 under Hwy 431,13.0,0.0,NaN,NaN,-85.178744,32.294212
372,AL,AL 10,Greenville,10.0,0.0,10.0,0.0,-86.627767,31.829544
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,NaN,NaN,NaN,NaN
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119
999,AL,Industrial Rd,Jackson-Near River Rd,11.0,0.0,NaN,NaN,-87.904922,31.495218
1000,AL,County Rd 40,Ozark - Jodie Parker Rd,8.0,0.0,NaN,NaN,-85.659372,31.472883
1001,AL,2nd Ave,Phenix - S. Railroad St/2nd Ave,8.0,0.0,NaN,NaN,-84.996882,32.477346
1002,AL,4th Ave,Phenix - 1803 4th Ave,8.0,0.0,NaN,NaN,-84.998566,32.477232

In [40]:
lc_n_bridges.at[373,'Posted Ft'] = 12.0
lc_n_bridges.at[373,'Posted Inches'] = 6.0
lc_n_bridges.at[373,'Longitude'] = -86.207025
lc_n_bridges.at[373,'Latitude'] = 32.538458

In [41]:
lc_n_bridges[lc_n_bridges['State'] == 'AL']

,State,HWY #,Location,Ft,Inches,Posted Ft,Posted Inches,Longitude,Latitude
371,AL,County Rd 30,Seale - Carver Rd/30 under Hwy 431,13.0,0.0,NaN,NaN,-85.178744,32.294212
372,AL,AL 10,Greenville,10.0,0.0,10.0,0.0,-86.627767,31.829544
373,AL,AL 111,Wetumpka - at Coosa Rver Bridge,12.0,6.0,12.0,6.0,-86.207025,32.538458
374,AL,AL 251,Ardmore,11.0,0.0,NaN,NaN,NaN,NaN
375,AL,AL 51,Opelika-South of Jct. I-85,13.0,4.0,NaN,NaN,NaN,NaN
376,AL,AL 53,"Ardmore-West, East of Jct I-65",10.0,8.0,NaN,NaN,NaN,NaN
377,AL,Local Road,"Nectar-1 mile east, Locust Fork River, covered...",9.0,0.0,NaN,NaN,NaN,NaN
378,AL,Swan Bridge Rd,Cleveland-1 mile west at Locust Fork River Bridge,13.0,0.0,NaN,NaN,NaN,NaN
379,AL,US 31,Montgomery - at Coosa River,13.0,4.0,NaN,NaN,NaN,NaN
380,AL,US 90,Mobile-Bankhead Tunnel,12.0,0.0,12.0,0.0,-88.030960,30.692998
381,AL,US 98 WB,Spanish Fort - 0.3 miles west,13.0,6.0,NaN,NaN,-87.916574,30.666192
998,AL,US 90,Spanish Fort-Battleship Parkway,13.0,6.0,NaN,NaN,-87.986697,30.678119
999,AL,Industrial Rd,Jackson-Near River Rd,11.0,0.0,NaN,NaN,-87.904922,31.495218
1000,AL,County Rd 40,Ozark - Jodie Parker Rd,8.0,0.0,NaN,NaN,-85.659372,31.472883
1001,AL,2nd Ave,Phenix - S. Railroad St/2nd Ave,8.0,0.0,NaN,NaN,-84.996882,32.477346
1002,AL,4th Ave,Phenix - 1803 4th Ave,8.0,0.0,NaN,NaN,-84.998566,32.477232

# Scraping with Selenium

In [45]:
cd ..

/home/seek/Documents/GitHub/labs15-rv-life/data-science/Stan's Datasets Notebooks

In [46]:
with open('st_credentials.json') as creds:    
    credentials = json.load(creds)

In [47]:
import time
from selenium import webdriver

# driver = webdriver.Chrome('/home/seek/Documents/GitHub/chromedriver')  # Optional argument, if not specified will search path.
# driver.get('http://www.google.com/');
# time.sleep(5) # Let the user actually see something!
# search_box = driver.find_element_by_name('q')
# search_box.send_keys('ChromeDriver')
# search_box.submit()
# time.sleep(5) # Let the user actually see something!
# driver.quit()

In [48]:
# driver = webdriver.Chrome()
# driver.get("http://www.python.org")
# assert "Python" in driver.title
# elem = driver.find_element_by_name("q")
# elem.clear()
# elem.send_keys("pycon")
# elem.send_keys(Keys.RETURN)
# assert "No results found." not in driver.page_source
# driver.close()

In [49]:
driver = webdriver.Chrome()

driver.get("https://www.surfacetracks.com/amember/login")

user_element = driver.find_element_by_name("amember_login")
pass_element = driver.find_element_by_name("amember_pass")

user_element.send_keys(credentials['amember_login'])
pass_element.send_keys(credentials['amember_pass'])

driver.find_element_by_xpath("//input[@value='Login']").click()

In [50]:
driver.get('https://www.surfacetracks.com/plus/get-feature.php?id=107368')

# Scraped Data Cleaning

In [51]:
cd /home/seek/Documents/GitHub/labs15-rv-life/data-science/"Stan's Datasets Notebooks"

/home/seek/Documents/GitHub/labs15-rv-life/data-science/Stan's Datasets Notebooks

In [110]:
df_100k = pd.read_csv('https://raw.githubusercontent.com/labs15-rv-life/data-science/master/connor_notebooks/100k_bridge_data.csv')

HTTPError: HTTP Error 404: Not Found

In [53]:
df_100k.head()

,Unnamed: 0,UID,Type,Est,Latitude,Longitude,ChainName,Name,Address,City,...,trail,hike,AmenitiesExtra,Comments,brand,CatName,PushPin,bIcon,Keyfilter,Pin
0,0,100749,Pro,425,34.983726,-86.851996,Low Clearance,Low Clearance,Highway 53,Ardmore,...,NaN,NaN,NaN,Height not marked but it is believed to be 11 ...,low-clearance,NaN,low_11_pushpin,"<\/div>', LC11Icon)",-136%,low_11_0_pushpin
1,1,100750,Pro,427,34.992213,-86.847168,Low Clearance,Low Clearance,"Old US 31, Hwy 7 near junction with 53",Ardmore,...,NaN,NaN,NaN,13 - 6 height clearance,low-clearance,NaN,low_13_pushpin,"<\/div>', LC13Icon)",NaN,low_13_6_pushpin
2,1,100758,Pro,424,34.797197,-86.970228,Low Clearance,Low Clearance,315 E Forrest St,Athens,...,NaN,NaN,NaN,10 - 0 height clearance (136),low-clearance,NaN,low_10_pushpin,"<\/div>', LC10Icon)",-136%,low_10_0_pushpin
3,1,100770,Pro,427,34.018626,-86.085077,Low Clearance,Low Clearance,200-208 Cleveland Ave,Attalla,...,NaN,NaN,NaN,13 - 7 height clearance,low-clearance,NaN,low_13_pushpin,"<\/div>', LC13Icon)",NaN,low_13_7_pushpin
4,1,100771,Pro,427,34.021120,-86.087510,Low Clearance,Low Clearance,5th Ave NW,Attalla,...,NaN,NaN,NaN,13 - 8 height clearance,low-clearance,NaN,low_13_pushpin,"<\/div>', LC13Icon)",NaN,low_13_8_pushpin

In [54]:
df_200k = pd.read_csv('https://raw.githubusercontent.com/labs15-rv-life/data-science/master/connor_notebooks/200k_bridge_expanded.csv')

In [55]:
df_200k.head()

,Unnamed: 0,UID,Type,Est,Latitude,Longitude,ChainName,Name,Address,City,...,trail,hike,AmenitiesExtra,Comments,brand,CatName,PushPin,bIcon,Keyfilter,Pin
0,0,200000,Off,435,33.892676,-84.299725,Low Clearance,Low Clearance,rail over Chamblee Dunwoody Rd,Chamblee,...,NaN,NaN,NaN,unmarked height clearance,low-clearance,NaN,low_unk_pushpin,"*""",NaN,low_unk_pushpin
1,1,200001,Off,435,33.886799,-84.308178,Low Clearance,Low Clearance,rail over Chamblee Tucker Rd,Chamblee,...,NaN,NaN,NaN,unmarked height clearance,low-clearance,NaN,low_unk_pushpin,"*""",NaN,low_unk_pushpin
2,1,200002,Off,435,33.806628,-84.241603,Low Clearance,Low Clearance,rail over N Indian Creek Dr,Clarkston,...,NaN,NaN,NaN,unmarked height clearance,low-clearance,NaN,low_unk_pushpin,"*""",NaN,low_unk_pushpin
3,1,200003,Off,435,33.802975,-84.250214,Low Clearance,Low Clearance,rail over The Perimeter\/I-285,Clarkston,...,NaN,NaN,NaN,unmarked height clearance,low-clearance,NaN,low_unk_pushpin,"*""",NaN,low_unk_pushpin
4,1,200004,Off,435,33.645403,-84.450928,Low Clearance,Low Clearance,rail over Camp Creek Pkwy,College Park,...,NaN,NaN,NaN,unmarked height clearance,low-clearance,NaN,low_unk_pushpin,"*""",NaN,low_unk_pushpin

In [56]:
df_road = pd.concat([df_100k,df_200k])

In [57]:
df_road.shape

(9810, 29)

In [58]:
df_road.head()

,Unnamed: 0,UID,Type,Est,Latitude,Longitude,ChainName,Name,Address,City,...,trail,hike,AmenitiesExtra,Comments,brand,CatName,PushPin,bIcon,Keyfilter,Pin
0,0,100749,Pro,425,34.983726,-86.851996,Low Clearance,Low Clearance,Highway 53,Ardmore,...,NaN,NaN,NaN,Height not marked but it is believed to be 11 ...,low-clearance,NaN,low_11_pushpin,"<\/div>', LC11Icon)",-136%,low_11_0_pushpin
1,1,100750,Pro,427,34.992213,-86.847168,Low Clearance,Low Clearance,"Old US 31, Hwy 7 near junction with 53",Ardmore,...,NaN,NaN,NaN,13 - 6 height clearance,low-clearance,NaN,low_13_pushpin,"<\/div>', LC13Icon)",NaN,low_13_6_pushpin
2,1,100758,Pro,424,34.797197,-86.970228,Low Clearance,Low Clearance,315 E Forrest St,Athens,...,NaN,NaN,NaN,10 - 0 height clearance (136),low-clearance,NaN,low_10_pushpin,"<\/div>', LC10Icon)",-136%,low_10_0_pushpin
3,1,100770,Pro,427,34.018626,-86.085077,Low Clearance,Low Clearance,200-208 Cleveland Ave,Attalla,...,NaN,NaN,NaN,13 - 7 height clearance,low-clearance,NaN,low_13_pushpin,"<\/div>', LC13Icon)",NaN,low_13_7_pushpin
4,1,100771,Pro,427,34.021120,-86.087510,Low Clearance,Low Clearance,5th Ave NW,Attalla,...,NaN,NaN,NaN,13 - 8 height clearance,low-clearance,NaN,low_13_pushpin,"<\/div>', LC13Icon)",NaN,low_13_8_pushpin

In [59]:
df_road.columns

Index(['Unnamed: 0', 'UID', 'Type', 'Est', 'Latitude', 'Longitude',
       'ChainName', 'Name', 'Address', 'City', 'St', 'Zip', 'Phone', 'Web',
       'Directions', 'Cat', 'County', 'RecordID', 'Elev', 'trail', 'hike',
       'AmenitiesExtra', 'Comments', 'brand', 'CatName', 'PushPin', 'bIcon',
       'Keyfilter', 'Pin'],
      dtype='object')

In [60]:
df_road = df_road.drop(columns=['Unnamed: 0', 'Type', 'Est','ChainName', 'Address',
                                'Phone', 'Web','Directions', 'County', 'RecordID',
                                'trail', 'hike','AmenitiesExtra', 'brand', 'CatName',
                                'PushPin', 'bIcon','Keyfilter'])

In [61]:
df_road.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
0,100749,34.983726,-86.851996,Low Clearance,Ardmore,AL,35739,LC11,NaN,Height not marked but it is believed to be 11 ...,low_11_0_pushpin
1,100750,34.992213,-86.847168,Low Clearance,Ardmore,AL,38449,LC13,NaN,13 - 6 height clearance,low_13_6_pushpin
2,100758,34.797197,-86.970228,Low Clearance,Athens,AL,35611,LC10,NaN,10 - 0 height clearance (136),low_10_0_pushpin
3,100770,34.018626,-86.085077,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 7 height clearance,low_13_7_pushpin
4,100771,34.021120,-86.087510,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 8 height clearance,low_13_8_pushpin

In [62]:
pd.set_option('display.max_rows', None)
df_road['Pin'].value_counts()

low_unk_pushpin      1286
roadgrade_pushpin     960
low_bt_pushpin        770
low_14_0_pushpin      587
low_13_6_pushpin      441
low_13_8_pushpin      348
low_13_10_pushpin     323
low_12_0_pushpin      239
low_13_0_pushpin      222
low_14_2_pushpin      193
low_15_0_pushpin      176
low_12_6_pushpin      173
low_14_4_pushpin      157
low_11_6_pushpin      145
low_11_8_pushpin      139
low_13_4_pushpin      132
low_14_6_pushpin      124
low_13_9_pushpin      116
low_14_1_pushpin      114
low_13_2_pushpin      114
low_13_7_pushpin      108
low_12_8_pushpin      106
low_11_10_pushpin     105
low_12_10_pushpin     104
low_12_4_pushpin       94
low_13_5_pushpin       91
runaway_pushpin        87
low_11_4_pushpin       84
low_14_5_pushpin       81
low_11_0_pushpin       79
low_13_1_pushpin       72
low_14_3_pushpin       70
low_10_0_pushpin       70
low_16_0_pushpin       69
low_14_8_pushpin       69
low_12_1_pushpin       66
low_14_10_pushpin      64
low_13_11_pushpin      56
low_10_6_pushpin       54
low_13_3_pushpin       52
low_8_0_pushpin        44
low_11_2_pushpin       44
low_17_0_pushpin       44
low_14_9_pushpin       43
low_15_6_pushpin       41
low_10_10_pushpin      40
low_9_0_pushpin        35
low_14_7_pushpin       35
low_15_2_pushpin       34
low_12_5_pushpin       34
low_11_1_pushpin       33
low_14_11_pushpin      32
low_12_9_pushpin       31
low_15_4_pushpin       30
low_15_5_pushpin       30
low_9_6_pushpin        29
low_10_2_pushpin       29
low_12_3_pushpin       29
low_10_8_pushpin       29
low_15_3_pushpin       27
low_16_6_pushpin       27
low_18_0_pushpin       26
low_10_4_pushpin       23
low_11_3_pushpin       23
low_16_4_pushpin       23
low_16_5_pushpin       22
low_11_5_pushpin       21
low_11_7_pushpin       21
low_9_9_pushpin        20
low_15_1_pushpin       19
low_12_7_pushpin       19
low_10_5_pushpin       18
low_10_1_pushpin       18
low_15_10_pushpin      18
low_9_10_pushpin       17
low_16_1_pushpin       17
low_8_6_pushpin        16
low_11_9_pushpin       15
low_10_7_pushpin       15
low_16_3_pushpin       14
low_16_2_pushpin       14
low_15_8_pushpin       14
low_11_11_pushpin      14
low_9_1_pushpin        13
low_9_8_pushpin        13
low_7_0_pushpin        13
low_12_11_pushpin      12
low_15_7_pushpin       12
low_10_11_pushpin      12
low_9_2_pushpin        12
low_16_8_pushpin       11
low_10_9_pushpin       11
low_9_4_pushpin        10
low_10_3_pushpin       10
low_9_5_pushpin         9
low_16_7_pushpin        9
low_19_0_pushpin        9
low_16_9_pushpin        8
low_8_9_pushpin         7
low_20_0_pushpin        6
low_8_10_pushpin        6
low_8_8_pushpin         6
low_15_9_pushpin        6
low_9_7_pushpin         6
low_7_6_pushpin         6
low_23_0_pushpin        6
low_8_1_pushpin         5
low_7_1_pushpin         5
low_7_4_pushpin         5
low_8_4_pushpin         5
low_16_11_pushpin       5
low_16_10_pushpin       5
low_15_11_pushpin       5
low_8_2_pushpin         4
low_7_10_pushpin        4
low_9_3_pushpin         4
low_8_3_pushpin         4
low_17_2_pushpin        4
low_7_7_pushpin         3
low_18_4_pushpin        3
low_17_9_pushpin        3
low_17_5_pushpin        3
low_17_1_pushpin        3
low_7_3_pushpin         3
low_17_10_pushpin       3
low_18_6_pushpin        3
low_8_5_pushpin         3
low_7_9_pushpin         3
low_8_11_pushpin        2
low_6_6_pushpin         2
low_21_0_pushpin        2
low_9_11_pushpin        2
low_17_4_pushpin        2
low_17_7_pushpin        2
low_19_8_pushpin        2
low_17_3_pushpin        2
low_17_6_pushpin        2
low_10_12_pushpin       2
low_18_3_pushpin        2
low_7_11_pushpin        1
low_6_11_pushpin        1
low_5_11_pushpin        1
low_20_10_pushpin       1
low_5_10_pushpin        1
low_19_6_pushpin        1
low_8_7_pushpin         1
low_6_4_pushpin         1
*"                      1
low_22_0_pushpin        1
low_7_8_pushpin         1
low_17_8_pushpin        1
low_20_9_pushpin        1
low_5_8_pushpin         1
low_17_11_pushpin       1
low_7_5_pushpin         1
low_22_5_pushpin        1
low_21_6_pushpin        1
low_18_2_pushpin        1
low_6_8_pushpin         1
low_19_7_pushpin        1
Name: Pin, dtype: int64

In [63]:
df_road['Cat'].value_counts()

LC13     2075
LC14     1565
LCX      1284
Grade     960
LC12      909
LC15      773
bt        770
LC11      725
LC10      332
LC9       173
LC8       103
Ramp       87
LC7        53
lgc         1
Name: Cat, dtype: int64

In [64]:
df_lc = df_road.loc[df_road['Name'] == 'Low Clearance']

In [65]:
df_lc['Pin'].value_counts()

low_unk_pushpin      1286
low_14_0_pushpin      587
low_13_6_pushpin      441
low_13_8_pushpin      348
low_13_10_pushpin     323
low_12_0_pushpin      239
low_13_0_pushpin      222
low_14_2_pushpin      193
low_15_0_pushpin      176
low_12_6_pushpin      173
low_14_4_pushpin      157
low_11_6_pushpin      145
low_11_8_pushpin      139
low_13_4_pushpin      132
low_14_6_pushpin      124
low_13_9_pushpin      116
low_14_1_pushpin      114
low_13_2_pushpin      114
low_13_7_pushpin      108
low_12_8_pushpin      106
low_11_10_pushpin     105
low_12_10_pushpin     104
low_12_4_pushpin       94
low_13_5_pushpin       91
low_11_4_pushpin       84
low_14_5_pushpin       81
low_11_0_pushpin       79
low_13_1_pushpin       72
low_14_3_pushpin       70
low_10_0_pushpin       70
low_14_8_pushpin       69
low_16_0_pushpin       69
low_12_1_pushpin       66
low_14_10_pushpin      64
low_13_11_pushpin      56
low_10_6_pushpin       54
low_13_3_pushpin       52
low_11_2_pushpin       44
low_17_0_pushpin       44
low_8_0_pushpin        44
low_14_9_pushpin       43
low_15_6_pushpin       41
low_10_10_pushpin      40
low_14_7_pushpin       35
low_9_0_pushpin        35
low_12_5_pushpin       34
low_15_2_pushpin       34
low_11_1_pushpin       33
low_14_11_pushpin      32
low_12_9_pushpin       31
low_15_4_pushpin       30
low_15_5_pushpin       30
low_12_3_pushpin       29
low_10_8_pushpin       29
low_10_2_pushpin       29
low_9_6_pushpin        29
low_16_6_pushpin       27
low_15_3_pushpin       27
low_18_0_pushpin       26
low_10_4_pushpin       23
low_11_3_pushpin       23
low_16_4_pushpin       23
low_16_5_pushpin       22
low_11_5_pushpin       21
low_11_7_pushpin       21
low_9_9_pushpin        20
low_15_1_pushpin       19
low_12_7_pushpin       19
low_15_10_pushpin      18
low_10_5_pushpin       18
low_10_1_pushpin       18
low_16_1_pushpin       17
low_9_10_pushpin       17
low_8_6_pushpin        16
low_11_9_pushpin       15
low_10_7_pushpin       15
low_11_11_pushpin      14
low_16_2_pushpin       14
low_16_3_pushpin       14
low_15_8_pushpin       14
low_7_0_pushpin        13
low_9_1_pushpin        13
low_9_8_pushpin        13
low_12_11_pushpin      12
low_9_2_pushpin        12
low_10_11_pushpin      12
low_15_7_pushpin       12
low_10_9_pushpin       11
low_16_8_pushpin       11
low_10_3_pushpin       10
low_9_4_pushpin        10
low_9_5_pushpin         9
low_16_7_pushpin        9
low_19_0_pushpin        9
low_16_9_pushpin        8
low_8_9_pushpin         7
low_15_9_pushpin        6
low_20_0_pushpin        6
low_9_7_pushpin         6
low_7_6_pushpin         6
low_8_10_pushpin        6
low_23_0_pushpin        6
low_8_8_pushpin         6
low_7_4_pushpin         5
low_8_4_pushpin         5
low_16_11_pushpin       5
low_16_10_pushpin       5
low_8_1_pushpin         5
low_7_1_pushpin         5
low_15_11_pushpin       5
low_17_2_pushpin        4
low_8_2_pushpin         4
low_9_3_pushpin         4
low_7_10_pushpin        4
low_8_3_pushpin         4
low_17_9_pushpin        3
low_7_3_pushpin         3
low_7_7_pushpin         3
low_18_4_pushpin        3
low_18_6_pushpin        3
low_7_9_pushpin         3
low_17_5_pushpin        3
low_8_5_pushpin         3
low_17_10_pushpin       3
low_17_1_pushpin        3
low_19_8_pushpin        2
low_10_12_pushpin       2
low_17_7_pushpin        2
low_8_11_pushpin        2
low_bt_pushpin          2
low_9_11_pushpin        2
low_17_3_pushpin        2
low_6_6_pushpin         2
low_17_4_pushpin        2
low_17_6_pushpin        2
low_18_3_pushpin        2
low_21_0_pushpin        2
low_6_4_pushpin         1
low_5_11_pushpin        1
low_8_7_pushpin         1
low_5_10_pushpin        1
low_6_8_pushpin         1
low_20_10_pushpin       1
low_17_8_pushpin        1
low_22_5_pushpin        1
low_19_7_pushpin        1
low_5_8_pushpin         1
low_17_11_pushpin       1
low_7_5_pushpin         1
low_21_6_pushpin        1
low_18_2_pushpin        1
low_20_9_pushpin        1
low_22_0_pushpin        1
low_7_11_pushpin        1
low_6_11_pushpin        1
low_19_6_pushpin        1
low_7_8_pushpin         1
Name: Pin, dtype: int64

In [66]:
df_lc['Cat'].value_counts()

LC13    2075
LC14    1565
LCX     1284
LC12     909
LC15     773
LC11     725
LC10     332
LC9      173
LC8      103
LC7       53
bt         2
Name: Cat, dtype: int64

In [67]:
df_lc[df_lc['Cat'] == 'bt']

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
6540,189312,35.587866,-84.247779,Low Clearance,Vonore,TN,37885,bt,NaN,6 - 8 height clearance (136),low_bt_pushpin
6541,189313,35.376946,-86.830663,Low Clearance,Lewisburg,TN,37091,bt,NaN,5 - 8 height clearance (136),low_bt_pushpin

In [68]:
df_lc.at[6540, 'Pin'] = 'low_6_8_pushpin'
df_lc.at[6541, 'Pin'] = 'low_5_8_pushpin'

In [69]:
df_lc[df_lc['Cat'] == 'bt']

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
6540,189312,35.587866,-84.247779,Low Clearance,Vonore,TN,37885,bt,NaN,6 - 8 height clearance (136),low_6_8_pushpin
6541,189313,35.376946,-86.830663,Low Clearance,Lewisburg,TN,37091,bt,NaN,5 - 8 height clearance (136),low_5_8_pushpin

In [70]:
df_lc_unk = df_lc[df_lc['Cat'] == 'LCX']

In [71]:
# df_lc_unk.to_csv(os.path.join(r'unk_low_clearances.csv'),index=False)

In [72]:
df_lc = df_lc[df_lc['Cat'] != 'LCX']

In [73]:
df_lc['Cat'].value_counts()

LC13    2075
LC14    1565
LC12     909
LC15     773
LC11     725
LC10     332
LC9      173
LC8      103
LC7       53
bt         2
Name: Cat, dtype: int64

In [74]:
df_lc.shape

(6710, 11)

In [75]:
df_lc['Pin'].value_counts()

low_14_0_pushpin     587
low_13_6_pushpin     441
low_13_8_pushpin     348
low_13_10_pushpin    323
low_12_0_pushpin     239
low_13_0_pushpin     222
low_14_2_pushpin     193
low_15_0_pushpin     176
low_12_6_pushpin     173
low_14_4_pushpin     157
low_11_6_pushpin     145
low_11_8_pushpin     139
low_13_4_pushpin     132
low_14_6_pushpin     124
low_13_9_pushpin     116
low_14_1_pushpin     114
low_13_2_pushpin     114
low_13_7_pushpin     108
low_12_8_pushpin     106
low_11_10_pushpin    105
low_12_10_pushpin    104
low_12_4_pushpin      94
low_13_5_pushpin      91
low_11_4_pushpin      84
low_14_5_pushpin      81
low_11_0_pushpin      79
low_13_1_pushpin      72
low_14_3_pushpin      70
low_10_0_pushpin      70
low_14_8_pushpin      69
low_16_0_pushpin      69
low_12_1_pushpin      66
low_14_10_pushpin     64
low_13_11_pushpin     56
low_10_6_pushpin      54
low_13_3_pushpin      52
low_8_0_pushpin       44
low_11_2_pushpin      44
low_17_0_pushpin      44
low_14_9_pushpin      43
low_15_6_pushpin      41
low_10_10_pushpin     40
low_9_0_pushpin       35
low_14_7_pushpin      35
low_12_5_pushpin      34
low_15_2_pushpin      34
low_11_1_pushpin      33
low_14_11_pushpin     32
low_12_9_pushpin      31
low_15_4_pushpin      30
low_15_5_pushpin      30
low_9_6_pushpin       29
low_10_8_pushpin      29
low_12_3_pushpin      29
low_10_2_pushpin      29
low_15_3_pushpin      27
low_16_6_pushpin      27
low_18_0_pushpin      26
low_16_4_pushpin      23
low_10_4_pushpin      23
low_11_3_pushpin      23
low_16_5_pushpin      22
low_11_7_pushpin      21
low_11_5_pushpin      21
low_9_9_pushpin       20
low_12_7_pushpin      19
low_15_1_pushpin      19
low_15_10_pushpin     18
low_10_5_pushpin      18
low_10_1_pushpin      18
low_16_1_pushpin      17
low_9_10_pushpin      17
low_8_6_pushpin       16
low_11_9_pushpin      15
low_10_7_pushpin      15
low_11_11_pushpin     14
low_16_2_pushpin      14
low_16_3_pushpin      14
low_15_8_pushpin      14
low_7_0_pushpin       13
low_9_1_pushpin       13
low_9_8_pushpin       13
low_9_2_pushpin       12
low_10_11_pushpin     12
low_12_11_pushpin     12
low_15_7_pushpin      12
low_10_9_pushpin      11
low_16_8_pushpin      11
low_10_3_pushpin      10
low_9_4_pushpin       10
low_9_5_pushpin        9
low_16_7_pushpin       9
low_19_0_pushpin       9
low_16_9_pushpin       8
low_8_9_pushpin        7
low_23_0_pushpin       6
low_20_0_pushpin       6
low_8_10_pushpin       6
low_9_7_pushpin        6
low_15_9_pushpin       6
low_7_6_pushpin        6
low_8_8_pushpin        6
low_7_4_pushpin        5
low_8_1_pushpin        5
low_16_10_pushpin      5
low_7_1_pushpin        5
low_8_4_pushpin        5
low_15_11_pushpin      5
low_16_11_pushpin      5
low_8_3_pushpin        4
low_7_10_pushpin       4
low_8_2_pushpin        4
low_17_2_pushpin       4
low_9_3_pushpin        4
low_17_5_pushpin       3
low_18_6_pushpin       3
low_7_9_pushpin        3
low_18_4_pushpin       3
low_7_7_pushpin        3
low_7_3_pushpin        3
low_17_9_pushpin       3
low_17_1_pushpin       3
low_8_5_pushpin        3
low_17_10_pushpin      3
low_17_3_pushpin       2
low_21_0_pushpin       2
low_17_7_pushpin       2
low_18_3_pushpin       2
low_10_12_pushpin      2
low_6_8_pushpin        2
low_8_11_pushpin       2
low_5_8_pushpin        2
low_17_4_pushpin       2
low_19_8_pushpin       2
low_9_11_pushpin       2
low_unk_pushpin        2
low_6_6_pushpin        2
low_17_6_pushpin       2
low_22_0_pushpin       1
low_19_6_pushpin       1
low_6_11_pushpin       1
low_5_10_pushpin       1
low_8_7_pushpin        1
low_5_11_pushpin       1
low_7_11_pushpin       1
low_18_2_pushpin       1
low_6_4_pushpin        1
low_7_8_pushpin        1
low_19_7_pushpin       1
low_21_6_pushpin       1
low_7_5_pushpin        1
low_17_11_pushpin      1
low_20_10_pushpin      1
low_17_8_pushpin       1
low_22_5_pushpin       1
low_20_9_pushpin       1
Name: Pin, dtype: int64

In [76]:
# 7744 is 10_5
# 7772 is 10_9
df_lc[df_lc['Pin'] == 'low_unk_pushpin']

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
7744,193449,40.439688,-79.886213,Low Clearance,Pittsburgh,PA,15221,LC9,NaN,"Just avoid, unmarked and could be 9 - 0 or les...",low_unk_pushpin
7772,198490,27.868577,-81.550741,Low Clearance,Lake Wales,FL,33898,LC9,NaN,unknown height clearance (136),low_unk_pushpin

In [77]:
df_lc.at[7744, 'Pin'] = 'low_10_5_pushpin'
df_lc.at[7744, "Cat"] = 'LC10'
df_lc.at[7772, 'Pin'] = 'low_10_9_pushpin'
df_lc.at[7772, 'Cat'] = 'LC10'

In [78]:
df_lc['Height'] = np.nan

In [79]:
df_lc.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin,Height
0,100749,34.983726,-86.851996,Low Clearance,Ardmore,AL,35739,LC11,NaN,Height not marked but it is believed to be 11 ...,low_11_0_pushpin,NaN
1,100750,34.992213,-86.847168,Low Clearance,Ardmore,AL,38449,LC13,NaN,13 - 6 height clearance,low_13_6_pushpin,NaN
2,100758,34.797197,-86.970228,Low Clearance,Athens,AL,35611,LC10,NaN,10 - 0 height clearance (136),low_10_0_pushpin,NaN
3,100770,34.018626,-86.085077,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 7 height clearance,low_13_7_pushpin,NaN
4,100771,34.021120,-86.087510,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 8 height clearance,low_13_8_pushpin,NaN

In [80]:
df_lc['Pin'].isna().sum()

2

In [81]:
# 5547 is 10_9
# 5548 is 10_5
df_lc[df_lc['Pin'].isna()]

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin,Height
5547,187990,42.499696,-90.653500,Low Clearance,Dubuque,IA,52001,LC10,NaN,NaN,NaN,NaN
5548,187991,41.661226,-91.539398,Low Clearance,Iowa City,IA,52245,LC10,NaN,NaN,NaN,NaN

In [82]:
df_lc.at[5547, 'Pin'] = 'low_10_9_pushpin'
df_lc.at[5548, 'Pin'] = 'low_10_5_pushpin'

In [83]:
df_lc.shape

(6710, 12)

In [84]:
# df_lc.to_csv(os.path.join(r'low_clearances.csv'),index=False)

In [85]:
height_list = df_lc['Pin'].astype(str).to_string()

In [86]:
height = re.findall(r'\d{1,2}_\d{1,2}', height_list)

In [87]:
len(height)

6710

In [88]:
height

['11_0',
 '13_6',
 '10_0',
 '13_7',
 '13_8',
 '14_1',
 '10_0',
 '13_8',
 '13_9',
 '13_7',
 '13_7',
 '13_7',
 '13_3',
 '13_6',
 '13_8',
 '12_10',
 '14_1',
 '13_4',
 '13_9',
 '13_3',
 '13_3',
 '8_1',
 '10_6',
 '13_6',
 '8_0',
 '14_0',
 '8_0',
 '9_8',
 '8_0',
 '10_8',
 '7_0',
 '8_0',
 '14_0',
 '12_1',
 '8_0',
 '14_6',
 '13_6',
 '10_6',
 '15_2',
 '16_3',
 '11_0',
 '10_0',
 '10_1',
 '10_0',
 '8_0',
 '14_0',
 '15_0',
 '15_3',
 '15_7',
 '12_0',
 '14_0',
 '16_0',
 '14_3',
 '9_6',
 '14_10',
 '10_0',
 '8_6',
 '14_0',
 '10_1',
 '8_0',
 '8_0',
 '8_0',
 '8_0',
 '8_0',
 '14_0',
 '16_1',
 '13_1',
 '13_6',
 '13_6',
 '13_8',
 '16_0',
 '10_10',
 '14_3',
 '8_6',
 '12_6',
 '12_6',
 '10_1',
 '13_10',
 '13_1',
 '12_1',
 '9_0',
 '12_1',
 '8_0',
 '13_8',
 '13_10',
 '13_6',
 '10_6',
 '11_6',
 '11_4',
 '12_6',
 '13_6',
 '13_5',
 '10_1',
 '9_4',
 '13_10',
 '13_5',
 '10_6',
 '12_6',
 '13_10',
 '9_8',
 '12_1',
 '11_8',
 '11_6',
 '14_1',
 '10_10',
 '9_5',
 '10_5',
 '12_5',
 '11_6',
 '12_8',
 '10_0',
 '10_10',
 '13_5',
 '13_4',
 '12_6',
 '10_5',
 '15_1',
 '14_0',
 '12_0',
 '14_0',
 '15_1',
 '14_9',
 '13_6',
 '12_0',
 '13_1',
 '11_2',
 '13_6',
 '15_6',
 '15_2',
 '15_1',
 '13_6',
 '10_10',
 '13_6',
 '13_10',
 '14_0',
 '14_0',
 '14_0',
 '11_6',
 '13_2',
 '13_7',
 '11_3',
 '15_1',
 '14_6',
 '13_11',
 '15_2',
 '15_1',
 '12_0',
 '15_0',
 '14_4',
 '13_0',
 '13_6',
 '15_0',
 '13_10',
 '15_0',
 '14_0',
 '15_0',
 '13_9',
 '13_0',
 '13_6',
 '14_9',
 '13_8',
 '11_6',
 '7_5',
 '12_9',
 '13_0',
 '12_3',
 '14_0',
 '13_10',
 '14_0',
 '13_6',
 '13_5',
 '13_6',
 '14_0',
 '11_7',
 '14_6',
 '10_0',
 '13_5',
 '13_0',
 '14_7',
 '14_10',
 '13_11',
 '13_4',
 '13_4',
 '14_3',
 '10_8',
 '13_11',
 '13_6',
 '13_0',
 '12_7',
 '13_8',
 '11_7',
 '14_11',
 '13_6',
 '13_10',
 '15_0',
 '13_8',
 '14_6',
 '14_0',
 '13_9',
 '13_0',
 '13_0',
 '14_7',
 '14_0',
 '13_10',
 '13_6',
 '15_0',
 '14_2',
 '14_7',
 '13_8',
 '14_1',
 '13_6',
 '15_1',
 '8_6',
 '11_1',
 '12_1',
 '13_0',
 '14_10',
 '13_9',
 '13_5',
 '14_11',
 '15_0',
 '15_0',
 '13_0',
 '12_10',
 '13_6',
 '14_6',
 '12_7',
 '12_7',
 '15_3',
 '13_8',
 '13_0',
 '13_1',
 '12_5',
 '13_11',
 '15_3',
 '13_1',
 '13_1',
 '13_8',
 '13_11',
 '11_4',
 '13_6',
 '14_1',
 '10_10',
 '11_0',
 '13_5',
 '12_11',
 '13_4',
 '13_6',
 '11_6',
 '12_1',
 '11_9',
 '11_3',
 '11_9',
 '11_0',
 '13_6',
 '10_5',
 '14_0',
 '12_6',
 '9_9',
 '9_9',
 '9_9',
 '9_9',
 '9_9',
 '9_9',
 '11_7',
 '10_4',
 '11_4',
 '10_6',
 '12_9',
 '13_5',
 '13_6',
 '13_8',
 '12_0',
 '12_0',
 '12_0',
 '12_6',
 '12_8',
 '13_1',
 '12_1',
 '12_0',
 '9_9',
 '11_2',
 '13_1',
 '13_0',
 '14_1',
 '12_3',
 '12_1',
 '12_5',
 '13_0',
 '13_0',
 '9_9',
 '11_0',
 '13_10',
 '11_4',
 '12_6',
 '14_2',
 '12_0',
 '12_4',
 '9_9',
 '12_0',
 '12_0',
 '13_0',
 '11_1',
 '13_3',
 '14_0',
 '12_5',
 '10_7',
 '10_11',
 '13_2',
 '12_10',
 '9_9',
 '9_9',
 '13_6',
 '9_9',
 '12_5',
 '13_6',
 '13_6',
 '13_9',
 '12_3',
 '13_2',
 '13_2',
 '13_5',
 '13_2',
 '13_6',
 '13_6',
 '13_7',
 '13_7',
 '13_10',
 '13_10',
 '14_0',
 '14_1',
 '14_8',
 '13_2',
 '13_2',
 '14_4',
 '10_4',
 '13_6',
 '13_4',
 '14_0',
 '13_9',
 '13_8',
 '12_4',
 '11_11',
 '11_6',
 '11_5',
 '12_6',
 '13_6',
 '13_4',
 '13_8',
 '13_0',
 '12_4',
 '13_8',
 '13_6',
 '14_4',
 '14_2',
 '13_8',
 '13_8',
 '15_6',
 '14_2',
 '13_8',
 '14_0',
 '13_8',
 '13_8',
 '14_0',
 '14_0',
 '14_0',
 '13_0',
 '13_8',
 '11_8',
 '14_1',
 '14_0',
 '13_6',
 '11_8',
 '14_1',
 '13_8',
 '10_8',
 '13_8',
 '13_4',
 '13_4',
 '14_0',
 '14_0',
 '14_4',
 '13_8',
 '13_8',
 '10_6',
 '13_4',
 '13_4',
 '13_8',
 '13_4',
 '12_1',
 '13_4',
 '9_0',
 '8_7',
 '12_10',
 '13_1',
 '9_10',
 '13_6',
 '14_6',
 '13_1',
 '13_4',
 '13_8',
 '12_8',
 '13_1',
 '13_1',
 '11_0',
 '14_1',
 '13_4',
 '13_6',
 '12_0',
 '10_5',
 '9_8',
 '13_10',
 '14_4',
 '13_8',
 '10_0',
 '11_2',
 '10_1',
 '13_8',
 '11_2',
 '9_5',
 '11_1',
 '11_10',
 '12_0',
 '12_4',
 '13_0',
 '13_10',
 '14_6',
 '10_0',
 '7_4',
 '10_0',
 '14_0',
 '11_6',
 '13_6',
 '14_0',
 '15_5',
 '9_6',
 '12_8',
 '12_10',
 '10_6',
 '13_6',
 '14_8',
 '14_0',
 '13_6',
 '9_4',
 '11_1',
 '15_0',
 '10_2',
 '11_0',
 '12_0',
 '13_6',
 '11_6',
 '13_10',
 '11_1',
 '12_0',
 '12_0',
 '13_0',
 '13_0',
 '13_3',
 '14_0',
 '7_6',
 '13_10',
 '13_7',
 '14_1',
 '12_0',
 '12_6',
 '7_1',
 '13_4',
 '14_9',
 '10_0',
 '13_6',
 '13_6',
 '13_8',
 '13_6',
 '13_8',
 '11_2',
 '14_0',
 '11_10',
 '14_0',
 '13_4',
 '8_0',
 '13_8',
 '13_6',
 '14_0',
 '13_5',
 '11_6',
 '14_0',
 '13_11',
 '14_4',
 '13_0',
 '12_4',
 '11_0',
 '14_0',
 '12_0',
 '14_0',
 '12_0',
 '15_6',
 '11_1',
 '13_0',
 '11_4',
 '13_0',
 '14_0',
 '14_0',
 '14_1',
 '13_8',
 '13_3',
 '13_10',
 '14_2',
 '8_8',
 '8_8',
 '9_2',
 '15_5',
 '13_10',
 '11_6',
 '12_4',
 '13_6',
 '13_11',
 '13_0',
 '11_3',
 '10_1',
 '10_0',
 '11_8',
 '11_8',
 '13_0',
 '8_10',
 '13_10',
 '11_4',
 '12_4',
 '13_6',
 '8_10',
 '14_5',
 '13_4',
 '13_4',
 '10_9',
 '13_6',
 '14_1',
 '12_6',
 '11_8',
 '11_8',
 '11_6',
 '12_6',
 '13_4',
 '11_1',
 '13_11',
 '13_9',
 '14_6',
 '14_0',
 '8_4',
 '13_7',
 '13_9',
 '13_9',
 '13_9',
 '13_9',
 '10_4',
 '13_4',
 '11_6',
 '14_0',
 '13_0',
 '12_0',
 '13_0',
 '12_9',
 '14_5',
 '13_6',
 '12_0',
 '12_0',
 '13_8',
 '13_2',
 '13_3',
 '14_0',
 '13_1',
 '14_0',
 '11_1',
 '11_0',
 '12_6',
 '14_2',
 '14_3',
 '12_6',
 '11_6',
 '13_6',
 '13_2',
 '13_1',
 '13_8',
 '13_10',
 '9_9',
 '10_10',
 '12_0',
 '12_0',
 '12_1',
 '12_1',
 '13_8',
 '14_0',
 '12_6',
 '13_6',
 '12_6',
 '14_5',
 '15_0',
 '14_5',
 '13_6',
 '13_10',
 '14_4',
 '13_5',
 '13_8',
 '12_5',
 '14_0',
 '14_2',
 '10_0',
 '12_0',
 '11_8',
 '13_4',
 '11_6',
 '13_8',
 '13_10',
 '13_6',
 '13_10',
 '11_0',
 '12_0',
 '13_6',
 '13_6',
 '14_6',
 '12_0',
 '13_6',
 '13_8',
 '14_0',
 '13_10',
 '13_10',
 '13_10',
 '13_0',
 '13_9',
 '13_9',
 '13_9',
 '12_1',
 '12_1',
 '13_1',
 '14_1',
 '13_10',
 '14_0',
 '13_1',
 '14_1',
 '13_0',
 '14_8',
 '14_0',
 '13_8',
 '13_10',
 '13_10',
 '13_6',
 '14_0',
 '11_10',
 '11_6',
 '11_10',
 '12_6',
 '11_10',
 '10_6',
 '13_7',
 '14_4',
 '14_2',
 '14_2',
 '12_10',
 '11_6',
 '13_0',
 '11_8',
 '13_0',
 '11_8',
 '13_5',
 '11_8',
 '13_8',
 '13_10',
 '11_8',
 '14_2',
 '14_2',
 '11_6',
 '11_10',
 '14_0',
 '13_5',
 '14_4',
 '14_4',
 '13_6',
 '11_6',
 '13_7',
 '11_10',
 '14_4',
 '13_5',
 '11_10',
 '14_4',
 '11_10',
 '13_6',
 '13_0',
 '13_6',
 '13_0',
 '13_0',
 '14_0',
 '13_0',
 '13_0',
 '12_10',
 '12_10',
 '11_8',
 '11_4',
 '13_0',
 '14_4',
 '11_10',
 '11_8',
 '11_8',
 '11_10',
 '12_10',
 '13_7',
 '14_2',
 '14_0',
 '12_8',
 '13_7',
 '13_7',
 '11_10',
 '13_0',
 '11_8',
 '11_8',
 '14_0',
 '13_6',
 '11_6',
 '11_10',
 '14_0',
 '13_2',
 '13_6',
 '11_4',
 '11_8',
 '13_8',
 '13_8',
 '11_10',
 '11_8',
 '11_8',
 '13_6',
 '14_2',
 '13_6',
 '13_0',
 '13_10',
 '12_10',
 '14_2',
 '11_8',
 '11_8',
 '13_10',
 '12_0',
 '11_6',
 '11_4',
 '11_4',
 '14_0',
 '13_0',
 '11_8',
 '13_10',
 '12_8',
 '14_4',
 '11_10',
 '13_8',
 '12_0',
 '13_10',
 '11_10',
 '13_2',
 '13_2',
 '13_10',
 '13_6',
 '11_6',
 '12_10',
 '13_0',
 '12_0',
 '11_10',
 '11_6',
 '12_6',
 '11_10',
 '13_0',
 '13_0',
 '11_10',
 '14_2',
 '13_7',
 '13_7',
 '11_8',
 '11_10',
 '13_0',
 '12_0',
 '11_10',
 '12_0',
 '14_4',
 '14_6',
 '13_10',
 '11_10',
 '11_10',
 '13_0',
 '12_6',
 '12_10',
 '11_10',
 '14_0',
 '11_10',
 '13_6',
 '13_7',
 '11_10',
 '11_10',
 '14_2',
 '12_8',
 '13_5',
 '13_0',
 '11_8',
 '13_7',
 '13_0',
 '13_2',
 '11_8',
 '14_2',
 '12_8',
 '13_0',
 '14_4',
 '13_8',
 '13_10',
 '14_0',
 '14_2',
 '14_2',
 '14_2',
 '14_2',
 '13_10',
 '13_10',
 '13_10',
 '13_10',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_10',
 '13_6',
 '13_6',
 '13_6',
 '13_7',
 '13_6',
 '14_0',
 '13_6',
 '11_10',
 '14_0',
 '14_4',
 '11_10',
 '11_2',
 '13_2',
 '11_6',
 '13_2',
 '11_8',
 '11_10',
 '12_10',
 '14_4',
 '13_2',
 '11_2',
 '11_8',
 '11_4',
 '12_4',
 '13_10',
 '12_0',
 '14_2',
 '14_2',
 '14_0',
 '14_4',
 '13_8',
 '13_8',
 '14_0',
 '13_0',
 '11_8',
 '12_0',
 '12_0',
 '13_0',
 '13_8',
 '12_0',
 '13_10',
 '13_2',
 '12_10',
 '13_6',
 '12_10',
 '11_10',
 '12_6',
 '13_0',
 '12_0',
 '13_6',
 '11_10',
 '11_10',
 '11_10',
 '11_10',
 '11_4',
 '11_6',
 '11_4',
 '11_6',
 '13_2',
 '11_6',
 '11_6',
 '11_8',
 '12_10',
 '11_4',
 '11_8',
 '11_8',
 '14_2',
 '12_10',
 '12_10',
 '13_6',
 '12_6',
 '12_8',
 '13_6',
 '12_4',
 '12_8',
 '11_8',
 '11_8',
 '14_6',
 '13_8',
 '14_4',
 '13_8',
 '12_8',
 '13_10',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_6',
 '13_7',
 '14_4',
 '12_8',
 '13_0',
 '13_0',
 '12_10',
 '13_7',
 '13_6',
 '13_0',
 '12_0',
 '12_4',
 '12_4',
 '12_6',
 '12_0',
 '12_8',
 '13_7',
 '11_10',
 '11_8',
 '12_10',
 '12_0',
 '12_0',
 '12_0',
 '12_10',
 '13_0',
 '12_0',
 '12_10',
 '11_6',
 '14_2',
 '14_0',
 '14_0',
 '14_0',
 '14_2',
 '14_2',
 '14_2',
 '13_6',
 '13_10',
 '13_2',
 '14_0',
 '11_8',
 '13_10',
 '14_2',
 '14_4',
 '12_8',
 '12_4',
 '13_10',
 '13_8',
 '14_4',
 '13_0',
 '13_0',
 '14_2',
 '14_2',
 '14_2',
 '13_8',
 '13_7',
 '14_2',
 '13_10',
 '12_4',
 '13_10',
 '11_8',
 '12_4',
 '14_2',
 '12_8',
 '13_0',
 '11_8',
 '14_0',
 '14_4',
 '14_2',
 '14_0',
 '14_2',
 '14_0',
 '14_6',
 '13_7',
 '13_10',
 '13_2',
 '11_6',
 '12_8',
 '11_10',
 '13_8',
 '13_8',
 '12_10',
 '13_7',
 '11_2',
 '13_10',
 '11_10',
 '13_0',
 '14_0',
 '13_7',
 '13_0',
 '13_0',
 ...]

In [89]:
# import csv

# with open('height.csv', 'w') as myfile:
#     wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
#     wr.writerow(height)

In [90]:
# # low_6_6_pushpin        2
# # low_10_12_pushpin      2
# # low_8_11_pushpin       2
# # low_9_11_pushpin       2
# # low_unk_pushpin        2
# # low_6_8_pushpin        2
# # low_5_8_pushpin        2
# # low_17_7_pushpin       2
# # low_17_3_pushpin       2
# # low_19_8_pushpin       2
# # low_18_3_pushpin       2
# # low_21_0_pushpin       2
# # low_17_4_pushpin       2
# # low_17_6_pushpin       2
# # low_8_7_pushpin        1
# # low_6_11_pushpin       1
# # low_5_11_pushpin       1
# # low_22_5_pushpin       1
# # low_21_6_pushpin       1
# # low_17_8_pushpin       1
# # low_7_11_pushpin       1
# # low_6_4_pushpin        1
# # low_7_8_pushpin        1
# # low_22_0_pushpin       1
# # low_5_10_pushpin       1
# # low_18_2_pushpin       1
# # low_19_6_pushpin       1
# # low_7_5_pushpin        1
# # low_20_9_pushpin       1
# # low_20_10_pushpin      1
# # low_17_11_pushpin      1
# # low_19_7_pushpin       1
# '19_7' in height

In [91]:
df_lc.loc[df_lc['Height'].isnull(), 'Height'] = height

In [92]:
df_lc.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin,Height
0,100749,34.983726,-86.851996,Low Clearance,Ardmore,AL,35739,LC11,NaN,Height not marked but it is believed to be 11 ...,low_11_0_pushpin,11_0
1,100750,34.992213,-86.847168,Low Clearance,Ardmore,AL,38449,LC13,NaN,13 - 6 height clearance,low_13_6_pushpin,13_6
2,100758,34.797197,-86.970228,Low Clearance,Athens,AL,35611,LC10,NaN,10 - 0 height clearance (136),low_10_0_pushpin,10_0
3,100770,34.018626,-86.085077,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 7 height clearance,low_13_7_pushpin,13_7
4,100771,34.021120,-86.087510,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 8 height clearance,low_13_8_pushpin,13_8

In [93]:
df_lc['Height'] = df_lc['Height'].str.replace('_','.')

df_lc.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin,Height
0,100749,34.983726,-86.851996,Low Clearance,Ardmore,AL,35739,LC11,NaN,Height not marked but it is believed to be 11 ...,low_11_0_pushpin,11.0
1,100750,34.992213,-86.847168,Low Clearance,Ardmore,AL,38449,LC13,NaN,13 - 6 height clearance,low_13_6_pushpin,13.6
2,100758,34.797197,-86.970228,Low Clearance,Athens,AL,35611,LC10,NaN,10 - 0 height clearance (136),low_10_0_pushpin,10.0
3,100770,34.018626,-86.085077,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 7 height clearance,low_13_7_pushpin,13.7
4,100771,34.021120,-86.087510,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 8 height clearance,low_13_8_pushpin,13.8

In [94]:
df_lc = df_lc.drop(columns=['Pin'])

In [95]:
df_lc.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Height
0,100749,34.983726,-86.851996,Low Clearance,Ardmore,AL,35739,LC11,NaN,Height not marked but it is believed to be 11 ...,11.0
1,100750,34.992213,-86.847168,Low Clearance,Ardmore,AL,38449,LC13,NaN,13 - 6 height clearance,13.6
2,100758,34.797197,-86.970228,Low Clearance,Athens,AL,35611,LC10,NaN,10 - 0 height clearance (136),10.0
3,100770,34.018626,-86.085077,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 7 height clearance,13.7
4,100771,34.021120,-86.087510,Low Clearance,Attalla,AL,35954,LC13,NaN,13 - 8 height clearance,13.8

In [96]:
df_lc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6710 entries, 0 to 1563
Data columns (total 11 columns):
UID          6710 non-null int64
Latitude     6654 non-null float64
Longitude    6654 non-null float64
Name         6710 non-null object
City         6710 non-null object
St           6710 non-null object
Zip          5745 non-null object
Cat          6710 non-null object
Elev         1 non-null float64
Comments     6708 non-null object
Height       6710 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 949.1+ KB

In [97]:
df_lc['Height'] = df_lc['Height'].astype(float)

In [98]:
df_lc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6710 entries, 0 to 1563
Data columns (total 11 columns):
UID          6710 non-null int64
Latitude     6654 non-null float64
Longitude    6654 non-null float64
Name         6710 non-null object
City         6710 non-null object
St           6710 non-null object
Zip          5745 non-null object
Cat          6710 non-null object
Elev         1 non-null float64
Comments     6708 non-null object
Height       6710 non-null float64
dtypes: float64(4), int64(1), object(6)
memory usage: 949.1+ KB

In [99]:
print(df_lc['Latitude'].isna().sum())
df_lc[df_lc['Latitude'].isna()]

56

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Height
251,104526,NaN,NaN,Low Clearance,Los Angeles,CA,90023,LC13,NaN,13 - 5 height clearance (136),13.5
1796,110501,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC8,NaN,8 - 4 height clearance (136),8.4
1797,110502,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC11,NaN,11 - 10 height clearance (136),11.1
1798,110503,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC11,NaN,11 - 8 height clearance (136),11.8
1799,110504,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC11,NaN,11 - 10 height clearance (136),11.1
1800,110505,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC11,NaN,11 - 8 height clearance (136),11.8
1801,110506,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC11,NaN,11 - 6 height clearance (136),11.6
1802,110507,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC11,NaN,11 - 6 height clearance (136),11.6
1803,110508,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 4 height clearance (136),12.4
1804,110509,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 0 height clearance (136),12.0
1805,110510,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 0 height clearance (136),12.0
1806,110511,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 0 height clearance (136),12.0
1807,110512,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 10 height clearance (136),12.1
1808,110513,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 2 height clearance (136),12.0
1809,110514,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 6 height clearance (136),12.6
1810,110515,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 6 height clearance (136),12.6
1811,110516,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 10 height clearance (136),12.1
1812,110517,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 10 height clearance (136),12.1
1813,110518,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 6 height clearance (136),12.6
1814,110519,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 6 height clearance (136),12.6
1815,110520,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 8 height clearance (136),12.8
1816,110521,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 10 height clearance (136),12.1
1817,110522,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 2 height clearance (136),12.0
1818,110523,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC12,NaN,12 - 0 height clearance (136),12.0
1819,110524,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 6 EX height clearance,13.6
1820,110525,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 2 height clearance (136),13.2
1821,110526,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 0 height clearance (136),13.0
1822,110527,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 8 height clearance,13.8
1823,110528,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 0 height clearance (136),13.0
1824,110529,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 10 height clearance,13.1
1825,110530,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 2 height clearance (136),13.2
1826,110531,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 10 height clearance,13.1
1827,110532,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 8 height clearance,13.8
1828,110533,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 0 height clearance (136),13.0
1829,110534,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 7 EX height clearance,13.7
1830,110535,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 6 EX height clearance,13.6
1831,110536,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 0 height clearance (136),13.0
1832,110537,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC13,NaN,13 - 8 EB height clearance,13.8
1833,110538,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1834,110539,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 4 height clearance,14.4
1835,110540,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1836,110541,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1837,110542,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1838,110543,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1839,110544,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1840,110545,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1841,110546,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1842,110547,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1843,110548,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1844,110549,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2
1845,110550,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1846,110551,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1847,110552,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 4 height clearance,14.4
1848,110553,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 0 height clearance,14.0
1849,110555,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 4 height clearance,14.4
1850,110556,NaN,NaN,Low Clearance,Chicago,IL,NaN,LC14,NaN,14 - 2 height clearance,14.2

In [100]:
# skipping row 1796 for now because address street view does not display any nearby low clearances based on UID url info.

df_lc.at[251, 'Latitude'] = 34.015627
df_lc.at[251, 'longitude'] = -118.208208

df_lc.at[1797, 'Latitude'] = 41.898220
df_lc.at[1797, 'Longitude'] = -87.651944

df_lc.at[1798, 'Latitude'] = 41.913588
df_lc.at[1798, 'Longitude'] = -87.713405

df_lc.at[1799, 'Latitude'] = 42.0126391
df_lc.at[1799, 'Longitude'] = -87.6759483

df_lc.at[1800, 'Latitude'] = 41.8610762
df_lc.at[1800, 'Longitude'] = -87.6663038

df_lc.at[1801, 'Latitude'] = 41.8273032
df_lc.at[1801, 'Longitude'] = -87.6291175

df_lc.at[1802, 'Latitude'] = 41.7562089
df_lc.at[1802, 'Longitude'] = -87.6391496

df_lc.at[1803, 'Latitude'] = 41.9323696
df_lc.at[1803, 'Longitude'] = -87.6736208

df_lc.at[1804, 'Latitude'] = 41.8419251
df_lc.at[1804, 'Longitude'] = -87.6583793

df_lc.at[1805, 'Latituude'] = 41.8419121
df_lc.at[1805, 'Longitude'] = -87.6582548

# Skipping 1806 becuase it is essentially the same location as 1804

df_lc.at[1807, 'Latitude'] = 41.8868245
df_lc.at[1807, 'Longitude'] = -87.6342948

df_lc.at[1808, 'Latitude'] = 41.8891621
df_lc.at[1808, 'Longitude'] = -87.6325263

df_lc.at[1809, 'Latitude'] = 41.7863075
df_lc.at[1809, 'Longitude'] = -87.5894999

df_lc.at[1810, 'Latitude'] = 41.7877326
df_lc.at[1810, 'Longitude'] = -87.5883455

df_lc.at[1811, 'Latitude'] =  41.9107213 
df_lc.at[1811, 'Longitude'] =  -87.6638412

df_lc.at[1812, 'Latitude'] = 41.9106809
df_lc.at[1812, 'Latitude'] = -87.6649487

df_lc.at[1813, 'Latitude'] = 41.8866197
df_lc.at[1813, 'Latitude'] = -87.6347728

df_lc.at[1814, 'Latitude'] = 41.8843062
df_lc.at[1814, 'Longitude'] = -87.6204223

df_lc.at[1815, 'Latitude'] = 42.0010734
df_lc.at[1815, 'Longitude'] = -87.6607721

In [145]:
df_lc.to_csv(os.path.join(r'low_clearances.csv'),index=False)

In [ ]:
comments_list = df_lc['Comments'].astype(str)

In [ ]:
comments_list = comments_list.to_list()

In [ ]:
comments_list

In [ ]:
# # .*[.](?!bat$).*$
# re.findall(r'.*\d{1,2} - \d.*$', comments_list)

In [ ]:
# heights = re.findall(r'\d{1,2} - \d', comments_list)

In [ ]:
# len(heights)

In [ ]:
# df_road[df_road['Comments'].str.contains(r'\d', regex=True, na=False)]

In [154]:
df_road['Cat'].value_counts()

LC13     2075
LC14     1565
LCX      1284
Grade     960
LC12      909
LC15      773
bt        770
LC11      725
LC10      332
LC9       173
LC8       103
Ramp       87
LC7        53
lgc         1
Name: Cat, dtype: int64

In [101]:
df_grade = df_road[df_road['Cat'] == 'Grade']

df_grade.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
113,101962,31.461541,-109.946845,Road Grade,Bisbee,AZ,85603,Grade,NaN,"5800 ft elev, West: 5-6 percent grade for 4 mi...",roadgrade_pushpin
115,101981,34.494107,-111.631322,Road Grade,Camp Verde,AZ,86322,Grade,NaN,"6000 ft elev, West: 9 miles of 6-7 percent gra...",roadgrade_pushpin
118,102010,33.054105,-109.083474,Road Grade,Clifton,AZ,85533,Grade,NaN,"6300 ft elev, Big rigs not recommended, West: ...",roadgrade_pushpin
119,102011,33.575762,-109.359205,Road Grade,Clifton,AZ,85533,Grade,NaN,"9200 ft elev, 40 ft limit and a 12 ft 7 inch c...",roadgrade_pushpin
120,102014,34.197676,-112.129396,Road Grade,Congress,AZ,85324,Grade,NaN,"3368 ft elev, South: 6 percent grade for 6 mil...",roadgrade_pushpin

In [106]:
df_grade.to_csv(os.path.join(r'road_grades.csv'),index=False)

In [107]:
df_road[df_road['Cat'] == 'lgc']

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
7595,191966,30.399123,-88.885654,Low Ground Clearance,Biloxi,MS,39530,lgc,NaN,low ground clearance,"*"""

In [108]:
df_tunnels = df_road[df_road['Cat'] == 'bt']

df_tunnels.head()

,UID,Latitude,Longitude,Name,City,St,Zip,Cat,Elev,Comments,Pin
4543,185069,38.780759,-90.587980,Covered Bridge,St Peters,MO,63376,bt,NaN,14 - 0 covered bridge height clearance,low_bt_pushpin
4544,185070,33.971090,-86.518454,Covered Bridge,Oneonta,AL,35121,bt,NaN,9 - 0 covered bridge height clearance,low_bt_pushpin
4545,185071,34.007638,-86.448664,Covered Bridge,Oneonta,AL,35121,bt,NaN,8 - 5 covered bridge height clearance,low_bt_pushpin
4546,185072,33.997518,-86.601393,Covered Bridge,Cleveland,AL,35049,bt,NaN,13 - 0 covered bridge height clearance,low_bt_pushpin
4547,185073,34.804086,-92.326246,Covered Bridge,North Little Rock,AR,72118,bt,NaN,11 - 10 covered bridge height clearance,low_bt_pushpin

In [109]:
df_grade.to_csv(os.path.join(r'road_tunnels.csv'),index=False)