In [0]:
#eia.gov

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('PET.txt', error_bad_lines=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [0]:
df.head(20)

        {"series_id":"PET.M_EPLLEA_EEX_R40-Z00_1.M"  ...  2]]}
0       {"series_id":"PET.M_EPOOXO_EEX_R20-NHU_1.A"  ...   NaN
1       {"series_id":"PET.M_EPOOXO_EEX_R20-NHU_2.A"  ...   NaN
2              {"series_id":"PET.MCREX_NUS-NIO_2.M"  ...   NaN
3              {"series_id":"PET.MCREX_NUS-NPO_2.A"  ...   NaN
4              {"series_id":"PET.MCREX_NUS-NBU_2.M"  ...   NaN
5              {"series_id":"PET.MCREX_NUS-NIO_2.A"  ...   NaN
6              {"series_id":"PET.MCREX_NUS-NJM_2.M"  ...   NaN
7       {"series_id":"PET.M_EPLLPA_EEX_R30-NMA_1.A"  ...   NaN
8       {"series_id":"PET.M_EPLLEA_EEX_NUS-NSZ_1.A"  ...   NaN
9      {"series_id":"PET.M_EPPU_EEX_NUS-NUC_MBBL.A"  ...   NaN
10      {"series_id":"PET.M_EPLLPA_EEX_NUS-NMA_1.A"  ...   NaN
11      {"series_id":"PET.M_EPLLEA_EEX_R40-Z00_2.M"  ...  0]]}
12      {"series_id":"PET.M_EPLLEA_EEX_R30-NNL_1.A"  ...   NaN
13      {"series_id":"PET.M_EPLLEA_EEX_R30-NSZ_1.A"  ...   NaN
14    {"series_id":"PET.M_EPPU_EEX_NUS-NUC_MBBLD.A"  ...   NaN
15    {"series_id":"PET.M_EPPU_IMN_NUS-NGI_MBBLD.A"  ...   NaN
16    {"series_id":"PET.M_EPPU_EEX_NUS-NGI_MBBLD.A"  ...   NaN
17  {"series_id":"PET.M_EPOORDB_IM0_R10-NFR_MBBL.A"  ...   NaN
18  {"series_id":"PET.M_EPOORDB_IM0_NUS-NFR_MBBL.A"  ...   NaN
19     {"series_id":"PET.M_EPLLBAN_EEX_R30-NMA_1.A"  ...   NaN

[20 rows x 19 columns]

In [0]:
df = pd.read_excel('pswrgvwall (1).xls', header=1)

In [0]:
df.head(30)

    Unnamed: 0  ...  Unnamed: 6
0          NaN  ...         NaN
1          NaN  ...         NaN
2          NaN  ...         NaN
3          NaN  ...         NaN
4          NaN  ...   8/20/1990
5          NaN  ...  11/28/1994
6          NaN  ...   8/20/1990
7          NaN  ...  11/28/1994
8          NaN  ...  11/28/1994
9          NaN  ...  11/28/1994
10         NaN  ...  11/28/1994
11         NaN  ...  11/28/1994
12         NaN  ...  11/28/1994
13         NaN  ...  11/28/1994
14         NaN  ...  11/28/1994
15         NaN  ...    4/5/1993
16         NaN  ...         NaN
17         NaN  ...         NaN
18         NaN  ...         NaN
19         NaN  ...         NaN
20         NaN  ...         NaN
21         NaN  ...         NaN
22         NaN  ...         NaN
23         NaN  ...         NaN
24         NaN  ...         NaN

[25 rows x 7 columns]

In [0]:
df = pd.read_excel('PET_PRI_GND_A_EPM0_PTE_DPGAL_W.xls', verbose=True)

Reading sheet 0

In [0]:
PET.EMM_EPM0_PTE_NUS_DPG.W

In [0]:
df.head(30)

    Unnamed: 0  ... Unnamed: 6
0          NaN  ...        NaN
1          NaN  ...        NaN
2          NaN  ...        NaN
3          NaN  ...        NaN
4          NaN  ...        NaN
5          NaN  ...   4/5/1993
6          NaN  ...   4/5/1993
7          NaN  ...  5/22/2000
8          NaN  ...   6/5/2000
9          NaN  ...        NaN
10         NaN  ...        NaN
11         NaN  ...        NaN
12         NaN  ...        NaN
13         NaN  ...        NaN
14         NaN  ...        NaN
15         NaN  ...        NaN
16         NaN  ...        NaN
17         NaN  ...        NaN

[18 rows x 7 columns]

In [0]:
df = pd.read_csv('MER_T09_04.csv')

In [0]:
df.tail(20)

          MSN  ...                                Unit
5020  DFONUUS  ...  Dollars per Gallon Including Taxes
5021  DFONUUS  ...  Dollars per Gallon Including Taxes
5022  DFONUUS  ...  Dollars per Gallon Including Taxes
5023  DFONUUS  ...  Dollars per Gallon Including Taxes
5024  DFONUUS  ...  Dollars per Gallon Including Taxes
5025  DFONUUS  ...  Dollars per Gallon Including Taxes
5026  DFONUUS  ...  Dollars per Gallon Including Taxes
5027  DFONUUS  ...  Dollars per Gallon Including Taxes
5028  DFONUUS  ...  Dollars per Gallon Including Taxes
5029  DFONUUS  ...  Dollars per Gallon Including Taxes
5030  DFONUUS  ...  Dollars per Gallon Including Taxes
5031  DFONUUS  ...  Dollars per Gallon Including Taxes
5032  DFONUUS  ...  Dollars per Gallon Including Taxes
5033  DFONUUS  ...  Dollars per Gallon Including Taxes
5034  DFONUUS  ...  Dollars per Gallon Including Taxes
5035  DFONUUS  ...  Dollars per Gallon Including Taxes
5036  DFONUUS  ...  Dollars per Gallon Including Taxes
5037  DFONUUS  ...  Dollars per Gallon Including Taxes
5038  DFONUUS  ...  Dollars per Gallon Including Taxes
5039  DFONUUS  ...  Dollars per Gallon Including Taxes

[20 rows x 6 columns]

In [0]:
df = pd.read_excel('EMM_EPM0_PTE_SCA_DPGw.xls', )

In [0]:
df.head(30)

    Unnamed: 0  ...             Unnamed: 5
0          NaN  ...                    NaN
1          NaN  ...                    NaN
2          NaN  ...                    NaN
3          NaN  ...                    NaN
4          NaN  ...        Latest Data for
5          NaN  ...             10/14/2019
6          NaN  ...                    NaN
7          NaN  ...                    NaN
8          NaN  ...                    NaN
9          NaN  ...                    NaN
10         NaN  ...                    NaN
11         NaN  ...                    NaN
12         NaN  ...                    NaN
13         NaN  ...  10/15/2019 5:06:19 PM

[14 rows x 6 columns]

In [0]:
xl = pd.ExcelFile('/content/EMM_EPM0_PTE_SCA_DPGw.xls')

In [0]:
xl.sheet_names

['Contents', 'Data 1']

In [0]:
df = xl.parse('Data 1')

In [0]:
len(df)

1015

In [0]:
def read_ec(file):
  xl = pd.ExcelFile(file)
  data = xl.sheet_names[1]
  df = xl.parse(data)
  return df

In [0]:
xl = pd.ExcelFile('PET_PRI_GND_A_EPM0_PTE_DPGAL_W.xls')
xl.sheet_names

['Contents', 'Data 1', 'Data 2', 'Data 3', 'Data 4']

In [0]:
df = xl.parse('Data 4')

In [0]:
df.head()

      Back to Contents  ...                                        Unnamed: 10
0            Sourcekey  ...                             EMM_EPM0_PTE_Y48SE_DPG
1                 Date  ...  Weekly Seattle, WA All Grades All Formulations...
2  2000-06-05 00:00:00  ...                                                NaN
3  2000-06-12 00:00:00  ...                                                NaN
4  2000-06-19 00:00:00  ...                                                NaN

[5 rows x 11 columns]

In [0]:
xl = pd.ExcelFile('pswrgvwall (1).xls')
xl.sheet_names

['Contents',
 'Data 1',
 'Data 2',
 'Data 3',
 'Data 4',
 'Data 5',
 'Data 6',
 'Data 7',
 'Data 8',
 'Data 9',
 'Data 10',
 'Data 11',
 'Data 12']

In [0]:
xl.parse('Data 1')

         Back to Contents  ...                                        Unnamed: 20
0               Sourcekey  ...                            EMM_EPMRU_PTE_Y48SE_DPG
1                    Date  ...  Weekly Seattle, WA Regular Conventional Retail...
2     1990-08-20 00:00:00  ...                                                NaN
3     1990-08-27 00:00:00  ...                                                NaN
4     1990-09-03 00:00:00  ...                                                NaN
5     1990-09-10 00:00:00  ...                                                NaN
6     1990-09-17 00:00:00  ...                                                NaN
7     1990-09-24 00:00:00  ...                                                NaN
8     1990-10-01 00:00:00  ...                                                NaN
9     1990-10-08 00:00:00  ...                                                NaN
10    1990-10-15 00:00:00  ...                                                NaN
11    1990-10-22 00:00:00  ...                                                NaN
12    1990-10-29 00:00:00  ...                                                NaN
13    1990-11-05 00:00:00  ...                                                NaN
14    1990-11-12 00:00:00  ...                                                NaN
15    1990-11-19 00:00:00  ...                                                NaN
16    1990-11-26 00:00:00  ...                                                NaN
17    1990-12-03 00:00:00  ...                                                NaN
18    1990-12-10 00:00:00  ...                                                NaN
19    1990-12-17 00:00:00  ...                                                NaN
20    1990-12-24 00:00:00  ...                                                NaN
21    1990-12-31 00:00:00  ...                                                NaN
22    1991-01-07 00:00:00  ...                                                NaN
23    1991-01-14 00:00:00  ...                                                NaN
24    1991-01-21 00:00:00  ...                                                NaN
25    1991-01-28 00:00:00  ...                                                NaN
26    1991-02-04 00:00:00  ...                                                NaN
27    1991-02-11 00:00:00  ...                                                NaN
28    1991-02-18 00:00:00  ...                                                NaN
29    1991-02-25 00:00:00  ...                                                NaN
...                   ...  ...                                                ...
1494  2019-03-25 00:00:00  ...                                              3.119
1495  2019-04-01 00:00:00  ...                                              3.213
1496  2019-04-08 00:00:00  ...                                              3.306
1497  2019-04-15 00:00:00  ...                                              3.419
1498  2019-04-22 00:00:00  ...                                              3.493
1499  2019-04-29 00:00:00  ...                                              3.534
1500  2019-05-06 00:00:00  ...                                              3.561
1501  2019-05-13 00:00:00  ...                                              3.562
1502  2019-05-20 00:00:00  ...                                              3.552
1503  2019-05-27 00:00:00  ...                                              3.553
1504  2019-06-03 00:00:00  ...                                              3.548
1505  2019-06-10 00:00:00  ...                                              3.491
1506  2019-06-17 00:00:00  ...                                              3.444
1507  2019-06-24 00:00:00  ...                                              3.405
1508  2019-07-01 00:00:00  ...                                               3.39
1509  2019-07-08 00:00:00  ...                                              3.385
1510  2019-07-15 00:00:00  ...                                              3.373
1511  2019-07-22 00:00:00  ...                                              3.342
1512  2019-07-29 00:00:00  ...                                              3.338
1513  2019-08-05 00:00:00  ...                                              3.305
1514  2019-08-12 00:00:00  ...                                               3.29
1515  2019-08-19 00:00:00  ...                                              3.277
1516  2019-08-26 00:00:00  ...                                              3.269
1517  2019-09-02 00:00:00  ...                                              3.242
1518  2019-09-09 00:00:00  ...                                              3.253
1519  2019-09-16 00:00:00  ...                                              3.244
1520  2019-09-23 00:00:00  ...                                              3.251
1521  2019-09-30 00:00:00  ...                                              3.267
1522  2019-10-07 00:00:00  ...                                              3.296
1523  2019-10-14 00:00:00  ...                                              3.348

[1524 rows x 21 columns]